page-event-docent-info {
    .backgroundGreen {
        background: rgb(236, 255, 241);
    }
    
    .backgroundRed {
        background: rgb(255, 241, 241);
    }

    .backgroundYellow {
        background: #ECFFAA;
    }
}
