page-register {
    .app-icon{
        font-size:50px;
        color: $primary;
        text-align: center;
        min-height: 150px;
        padding-top: 50px;
        padding-bottom: 50px;
        background: #333;
    }
    .text-input-ios{
        border: 2px solid #a7a7a7;
        padding: 10px;
    }
}
