page-lista-eventi {
    ion-icon{
        top: 6px;
        left: 13px;
        font-size: 40px;
      }
      .greenColor {
          color: #054d0e !important

      }
      .redColor {
          color: red !important;
      }
}
